@font-face {
  font-family: 'iconfont';  /* project id 312258 */
  src: url('http://at.alicdn.com/t/font_ei4r419p575jyvi.eot');
  src: url('http://at.alicdn.com/t/font_ei4r419p575jyvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_ei4r419p575jyvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_ei4r419p575jyvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_ei4r419p575jyvi.svg#iconfont') format('svg');
}

.icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caretdown:before { content: "\e601"; }

.icon-caretleft:before { content: "\e602"; }

.icon-caretright:before { content: "\e603"; }

.icon-caretup:before { content: "\e604"; }

.icon-sortasc:before { content: "\e60f"; }

.icon-sortdesc:before { content: "\e610"; }

.icon-sort:before { content: "\e611"; }

.icon-dataeye:before { content: "\e60c"; }

.icon-dataeyelogo:before { content: "\e60b"; }
